body {
    background: #ffffff;
}
div {
    display: flex;
}

.mid {
    width: 80%;
    margin:  0 auto;
}
.nav-text {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.home {
    color: #070707;
}
p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    text-align: center;
}
.byrger-text {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    color: #828282;
}
h1 {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}
h2 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 18px;
}

.mobile-navigation,
.byrger-menu,
.menu-open {
    display: none;
}
.mobile {
    align-self: flex-end;
    padding: 15px;
}

/* header */

.header {
    flex-direction: column;
    padding: 33px 0 0 0;
}
.desktop-navigation {
    width: 100%;
    margin-bottom: 32px;
}
.desktop-navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.line {
    border: 1px solid #828282;
    width: 100%;
}

/* main */
.title {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}
.name,
.profession-location {
    flex-direction: column;
}
.language {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.language-text {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

/* about-me */
.About-me {
    margin-top: 225px;
    padding: 100px 0;
    align-items: center;
}
.About-me,
.about-me-content {
    flex-direction: column;
}
.about-me-content > * + * {
    margin-top: 25px;
}

/* skills */

.Skills {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
}
.program-skills {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 83px;
    width: 100%;
}
.program {
    flex-direction: column;
    align-items: center;
}
.program-name {
    margin: 24px 0 40px 0;
}
.text-program {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    color: #828282;    
}
.program-stars > * + * {
    margin-left: 9px;
}

/* Portfolio */

.Portfolio {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
}
.Portfolio-block1 {
    flex-direction: column;
    align-items: center;
}
.Portfolio-img {
    margin: 46px 0;
}
.Portfolio-img img {
    width: 99%;
}

/* Contacts */

.Contacts {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
}
.Contacts-text {
    flex-direction: column;
    margin-bottom: 30px;
}
.button {
    display: flex;
    align-items: center;
    background: #070707;
    border-radius: 30%;
}
.btn {
    padding: 5px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.social {
    flex-direction: row;
    align-items: center;
}

/* footer */

footer {
    margin-bottom: 123px;
}

/* Adaptiv */

@media (max-width:1200px){
    .main{
      max-width: 970px;
    }
}
  
@media (max-width:992px){
    .main{
      max-width: 750px;
    }
    .desktop-navigation, .line, .desktop {
        display: none;
    }
    .title {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .name {
        margin-bottom: 23px;
    }
    .About-me {
        margin-top: auto;
    }
    .program-skills {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 83px;
    }
    .byrger-menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 80px;
        z-index: 10;
    }
    .menu-open {
        display: flex;
    }
    .profession-location {
        margin-bottom: 37px;
    }
}
  
@media (max-width:767px){
    .main{
      max-width: none;
    }
}


/* Byrger menu */

.menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}
.menu-btn span::before{
    transform: translateY(-5px);
}
.menu-btn span::after {
    transform: translateY(5px);
}
.menu-btn-active span{
    height: 0;
}
.menu-btn-active span:before {
    transform: rotate(45deg);
}
.menu-btn-active span:after {
    transform: rotate(-45deg);
}
.menu-open {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    position: absolute;
    left: 0;
    top: -200%;
    margin-top: 75px;
    transition: all 0.5s;
}
.menu-open > * + * {
    margin-top: 65px;
}
.menu-open-act{
      top:0px;
}
