body {
    background: #ffffff;
}
div {
    display: flex;
}

.grey {background: #F6F6F6;}

.mid {
    width: 80%;
    margin:  0 auto;
}
.nav-text {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.home {
    color: #070707;
}
p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    text-align: center;
}
.byrger-text {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    color: #828282;
}
h1 {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}
h2 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 18px;
}



/* header */

.header {
    flex-direction: column;
    padding: 33px 0 0 0;
}
.desktop-navigation {
    width: 100%;
    margin-bottom: 32px;
}
.desktop-navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
hr {
    border: 1px solid #828282;
    width: 100%;
}

/* main */
.title {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}
.name,
.profession-location {
    flex-direction: column;
}
.language {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.language-text {
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}

/* about-me */
.About-me {
    margin-top: 225px;
    padding: 100px 0;
    align-items: center;
}
.About-me,
.about-me-content {
    flex-direction: column;
}
.about-me-content > * + * {
    margin-top: 25px;
}

/* skills */

.Skills {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
}
.program-skills {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 83px;
    width: 100%;
}
.program-wrapper {
    flex-direction: column;
    align-items: center;
}
.program-name {
    margin: 24px 0 40px 0;
}
.text-program {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    color: #828282;    
}
.program-stars > * + * {
    margin-left: 9px;
}

/* Portfolio */

.Portfolio {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
}
.Portfolio-block1 {
    flex-direction: column;
    align-items: center;
}
.Portfolio-img {
    margin: 46px 0;
}
.Portfolio-img img {
    width: 99%;
}

/* Contacts */

.Contacts {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
}
.Contacts-text {
    flex-direction: column;
    margin-bottom: 30px;
}
.button {
    display: flex;
    align-items: center;
    background: #070707;
    border-radius: 50px;
}
.btn {
    padding: 5px;
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.social {
    flex-direction: row;
    align-items: center;
}

/* footer */

footer {
    margin-bottom: 123px;
}

/* Adaptiv */

@media (max-width:1200px){
    .main{
      max-width: 970px;
    }
}
  
@media (max-width:992px){
    .main{
      max-width: 750px;
    }
    .desktop-navigation, hr, .desktop {
        display: none;
    }
    .title {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .name {
        margin-bottom: 23px;
    }
    .About-me {
        margin-top: auto;
    }
    .program-skills {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 83px;
    }
    .profession-location {
        margin-bottom: 37px;
    }
}
  
@media (max-width:767px){
    .main{
      max-width: none;
    }
}


/* Byrger menu */

.byrger-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    top: -125px;
    right: -95%;
}
.line {
    width: 25px;
    height: 2px;
    background: black;
    position: absolute;
    left: 15%;
    top: 50%;
  }
.line::after,
.line::before {
    content: '';
    width: 25px;
    height: 2px;
    background: black;
    position: absolute;
}
  .line::after {
    margin-top: 5px;
}
  .line::before {
    margin-top: -5px;
}

/* Active style byrger menu  */

.Act::after {
    transform: rotate(-45deg);
    margin-top: 0;
    transition: all 0.3s;  
}
.Act::before {
    transform: rotate(45deg);
    margin-top: 0;
    transition: all 0.3s;
}
.Act {
    height: 0;
}

/* menu-open byrger menu */

.mobile-navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background: #FFFFFF;
    height: 812px;
    width: 375px;
    left: 0px;
    top: -1000px;
    padding: 83px 0 57px 26px;
    transition: all 0.5s;
}
.actMenu {
    top: 0px;

}
.menu-open-item > * + * {
    margin-top: 67px;
}
.mobile {
    align-self: flex-end;
    margin: 150px 28px 0 0;
}



